.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 4s ease-out;
  pointer-events: none;
}

.App-header {
  background-color: navy;
  min-height: 60vH;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotateX(0deg);
    height: 0;
  }
  to {
    transform: rotateX(450deg);
    height: 20vmin;
  }
}
