#simple-menu > div.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded > ul > li > a {
  text-decoration: none;
  position: relative;
  padding: 0 0.3rem;
  text-transform: uppercase;
  font-style: italic;
  color: #9c938e;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font-family: Open Sans Condensed Light;
}

#simple-menu > div.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded > ul > li > a:hover {
  background-image: url("./content/images/watercolour_green_light.png");
  background-size: 100% 100%;
}

#simple-menu > div.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded > ul > li > a:active, a:focus, a:visited {
  color: #9c938e;
}

#simple-menu > div.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation8.MuiPopover-paper.MuiPaper-rounded {
  display: flex;
  margin-top: 4vw;
  height: auto;
}
.MuiListItem-button:hover {
    background-color: rgba(0, 0, 0, 0.00) !important;
}

#root > div > div.MuiBox-root.MuiBox-root-34.Styled\(MuiBox\)-root-32 > section > div > span {
  color: #ad8262;
}
